{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-md-6 text-center mt-3">
   <div class="col">
            <img src="{{ pet.petimage }}" width="300" height="200" />
         </div>
   <table class="table table-info">
      <tr>
         <th colspan=2 class="text text-bg-warning">Pet Detail</th>
      </tr>
      <tr>
         <th>Pet name</th>
         <td>{{ pet.petname }} </td>
      </tr>
        <tr>
         <th>Pet Gender</th>
         <td>{{ pet.petgender }} </td>
      </tr>
        <tr>
         <th>Pet Type</th>
         <td>{{ pet.pettype }} </td>
      </tr>
      <tr>
         <th>Receipt Id</th>
         <td>{{ pet.receipt.id }} </td>
      </tr>
      <tr>
         <th>Buyer name</th>
         <td>{{ pet.receipt.buyername }} </td>
      </tr>
      {# <tr>
         <th>Staff name</th>
         <td>{{ pet.staff.staffname }} </td>
      </tr> #}
      
   </table>
</div>
{% endblock %}