{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-md-6 text-center mt-3">
   <div class="col">
            <img src="{{ pet.petimage }}" width="300" height="200" />
         </div>
   <table class="table table-info">
      <tr>
         <th colspan=2 class="text text-bg-warning">Pet Detail</th>
      </tr>
      <tr>
         <th>Name</th>
         <td>{{ pet.petname }} </td>
      </tr>
        <tr>
         <th>Gender</th>
         <td>{{ pet.petgender }} </td>
      </tr>
        <tr>
         <th>Type</th>
         <td>{{ pet.pettype }} </td>
      </tr>
      <tr>
         <th>Receipt Id</th>
         <td>
            {% if pet.receipt != null %}
                 <a href="{{ path('view_receipt_by_id', {'id' : pet.receipt.id })}}">
                     {{ pet.receipt.id }}
                  </a>   
            {% endif %}
         </td>
          
      </tr>
      <tr>
         <th>Name of Buyer</th>
         
         <td> 
            {% if pet.buyer != null %}
                 <a href="{{ path('view_buyer_by_id', {'id' : pet.buyer.id  })}}">
                     {{ pet.buyer.buyername }}
                  </a>   
            {% endif %}
         </td>
      </tr>
      <tr>
         <th>Name of Staff</th>
         <td>
               {% if pet.staffs != null %}
               {% for staff in pet.staffs %}
                  <a href="{{ path('view_staff_by_id', {'id' : staff.id })}}">
                     {{ staff.staffname }}
                     <br>
                  </a>     
               {% endfor %}  
            {% endif %}
            
         </td>
      </tr>
      
      
   </table>
</div>
{% endblock %}