{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-md-6 text-center mt-3">
   <table class="table table-info">
      <tr>
         <th colspan=2 class="text text-bg-warning">Receipt Detail</th>
      </tr>
      <tr>
         <th>Name of Pet</th>
         <td>
               {% if receipt.pet != null %}
                 <a href="{{ path('view_pet_by_id', {'id' : receipt.pet.id })}}">
                     {{ receipt.pet.petname }}
                     </a>
            {% endif %}
         </td>
         
      </tr>
        <tr>
         <th>Buyer name</th>
         <td>
               {% if receipt.buyer != null %}
                 <a href="{{ path('view_buyer_by_id', {'id' : receipt.buyer.id })}}">
               {{ receipt.buyer.buyername }}
               {% endif %}
               </a>
         </td>
      </tr>
        <tr>
         <th>Price</th>
         <td>{{ receipt.price }} $ </td>
      </tr>
      <tr>
         <th>Date Create</th>
         <td>{{ receipt.datecreate | date('d/m/Y') }}  </td>
      </tr>
      
      
      
      
   </table>
</div>
{% endblock %}