{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-6 text-center mt-3">
    <h1 class="text text-success">Receipt List</h1>
    <a class="btn btn-primary" href="{{ path('add_receipt')}}">Add</a>
    
    <table class="table table-primary mt-3">
        <thead>
          <tr>
            <th>Receipt Id</th>
            
            <th>Date Create</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         {% for receipt in receipts %}
             <tr>
                 <td>
                    <a href="{{ path('view_receipt_by_id', {'id': receipt.id })}}">
                        {{ receipt.id }}                      
                    </a>
                 </td>
                 
                 <td>{{ receipt.datecreate | date('d/m/Y') }}  </td>
                 <td>
                    <a class="btn btn-success" href="{{ path('edit_receipt', {'id': receipt.id })}}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('delete_receipt', {'id': receipt.id })}}"
                    onclick="return confirm('Are you sure to delete this pet ?');"
                    >
                        Delete
                    </a>
                 </td>
             </tr>
         {% endfor %}
        </tbody>
    <table>
    
</div>
{% endblock %}